{% extends 'WebSite/base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'WebSite/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'WebSite/css/folder_list.css' %}">
{% endblock %}

{% block title %}
Выбор подпапки — {{ folder }}
{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Выбор подпапки для: <span class="folder-name">{{ folder }}</span></h1>

    {% if subfolders %}
        <div class="section-header">
            <h2>Доступные подпапки:</h2>
            <p>Нажмите на подпапку, чтобы перейти к просмотру её содержимого.</p>
        </div>
        <div class="folder-buttons-container">
            {% for url, name in subfolders %}
                <a href="{% url 'view_pngs' url %}" class="folder-button">
                    {{ name }}
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-subfolders-message">Нет подпапок для отображения.</p>
    {% endif %}
</div>
<a href="javascript:history.back()" class="btn-link">Назад</a>
{% endblock %}