   # Secret key для Django
   SECRET_KEY=YOUR_SECRET_KEY_HERE

   # Настройки PostgreSQL
   POSTGRES_DB=YOUR_DB_NAME
   POSTGRES_USER=YOUR_DB_USER
   POSTGRES_PASSWORD=YOUR_DB_PASSWORD
   DATABASE_HOST=YOUR_DB_HOST
   DATABASE_PORT=YOUR_DB_PORT

   # Django
   DJANGO_SETTINGS_MODULE=config.settings.production

   DEBUG=False

   # Redis / Celery
   REDIS_HOST=YOUR_REDIS_HOST
   REDIS_PORT=YOUR_REDIS_PORT
   CELERY_BROKER_URL=redis://YOUR_REDIS_HOST:YOUR_REDIS_PORT/0
   CELERY_RESULT_BACKEND=redis://YOUR_REDIS_HOST:YOUR_REDIS_PORT/0

   # Пути к модели
   BEST_MODEL_PATH=./yolo/best.pt
   YOLO_CONFIG_PATH=./yolo/best_model.txt