   # Secret key для Django
   SECRET_KEY=YOUR_SECRET_KEY_HERE

   # Настройки PostgreSQL
   POSTGRES_DB=YOUR_DB_NAME
   POSTGRES_USER=YOUR_DB_USER
   POSTGRES_PASSWORD=YOUR_DB_PASSWORD
   DATABASE_HOST=db
   DATABASE_PORT=5432


   # Django
   DEBUG=False

   # Redis / Celery
   REDIS_HOST=redis
   REDIS_PORT=6379
   CELERY_BROKER_URL=redis://redis:6379/0
   CELERY_RESULT_BACKEND=redis://redis:6379/0

   # Пути к модели
   BEST_MODEL_PATH=./yolo/best.pt
   YOLO_CONFIG_PATH=./yolo/best_model.txt